<a href="https://colab.research.google.com/github/dansarmiento/ColaboratoryRunningAnalysis/blob/main/PlotlywithJupyterDash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!pip install plotly --quiet

In [11]:
!pip install jupyter-dash --quiet

     |████████████████████████████████| 9.6 MB 7.6 MB/s
     |████████████████████████████████| 357 kB 53.6 MB/s
  Building wheel for retrying (setup.py) ... done

In [13]:
import plotly.graph_objects as go
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
from dash import html
from dash.dependencies import Input, Output

In [ ]:
"""
 # load data from builtin Plotly data
 df = px.data.gapminder()
 # prepare a sunburst figure
 fig = px.sunburst(df, path=['continent', 'country', 'year'], values='pop',
                   color='lifeExp', hover_data=['iso_alpha'],
                   color_continuous_scale='twilight',
                   color_continuous_midpoint=np.average(df['lifeExp'], weights=df['pop']))
"""

plotly comes with a lot of datasets

In [14]:

df_stocks = px.data.stocks()
df_stocks.head()

         date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0  2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2  2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3  2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4  2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708

In [15]:

#px.line(df_stocks, x='date', y='GOOG', labels={'x': 'Date', 'y': 'Prices'})
fig = px.line(df_stocks, x='date', y=['GOOG','AAPL'],
        labels={'x': 'Date','y': 'Price'}, title = 'Apple vs Google')
app = JupyterDash(__name__)
app.layout = html.Div([dcc.Graph(figure=fig)])
app.run_server(mode='inline')

"""
 # build jupyter dash app 
 app = JupyterDash(__name__)
 # add html components and figure to app
 app.layout = html.Div([dcc.Graph(figure=fig)])
 # run app inline
 app.run_server(mode='inline') 
 """

"\n # build jupyter dash app \n app = JupyterDash(__name__)\n # add html components and figure to app\n app.layout = html.Div([dcc.Graph(figure=fig)])\n # run app inline\n app.run_server(mode='inline') \n "