<a href="https://colab.research.google.com/github/dansarmiento/ColaboratoryRunningAnalysis/blob/main/PlotlywithJupyterDash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install plotly --quiet

In [2]:
!pip install jupyter-dash --quiet

     |████████████████████████████████| 9.6 MB 7.8 MB/s
     |████████████████████████████████| 357 kB 36.4 MB/s
  Building wheel for retrying (setup.py) ... done

In [3]:
import plotly.graph_objects as go
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_core_components as dcc
from dash import html
from dash.dependencies import Input, Output

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  after removing the cwd from sys.path.

In [4]:
"""
 # load data from builtin Plotly data
 df = px.data.gapminder()
 # prepare a sunburst figure
 fig = px.sunburst(df, path=['continent', 'country', 'year'], values='pop',
                   color='lifeExp', hover_data=['iso_alpha'],
                   color_continuous_scale='twilight',
                   color_continuous_midpoint=np.average(df['lifeExp'], weights=df['pop']))
"""

"\n # load data from builtin Plotly data\n df = px.data.gapminder()\n # prepare a sunburst figure\n fig = px.sunburst(df, path=['continent', 'country', 'year'], values='pop',\n                   color='lifeExp', hover_data=['iso_alpha'],\n                   color_continuous_scale='twilight',\n                   color_continuous_midpoint=np.average(df['lifeExp'], weights=df['pop']))\n"

plotly comes with a lot of datasets

In [5]:

df_stocks = px.data.stocks()
df_stocks.head()

         date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0  2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2  2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3  2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4  2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708

In [6]:

#px.line(df_stocks, x='date', y='GOOG', labels={'x': 'Date', 'y': 'Prices'})
fig = px.line(df_stocks, x='date', y=['GOOG','AAPL'],
        labels={'x': 'Date','y': 'Price'}, title = 'Apple vs Google')
app = JupyterDash(__name__)
app.layout = html.Div([dcc.Graph(figure=fig)])
app.run_server(mode='inline')

"""
 # build jupyter dash app 
 app = JupyterDash(__name__)
 # add html components and figure to app
 app.layout = html.Div([dcc.Graph(figure=fig)])
 # run app inline
 app.run_server(mode='inline') 
 """

"\n # build jupyter dash app \n app = JupyterDash(__name__)\n # add html components and figure to app\n app.layout = html.Div([dcc.Graph(figure=fig)])\n # run app inline\n app.run_server(mode='inline') \n "

In [7]:
df_tips = px.data.tips()
df_tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
#df_stocks.head()
fig = px.bar(df_stocks, x='date', y=["GOOG","AAPL","AMZN"], title='Stocks Stacked')
 # build jupyter dash app 
app = JupyterDash(__name__)
# add html components and figure to app
app.layout = html.Div([dcc.Graph(figure=fig)])
# run app inline
app.run_server(mode='inline')

In [10]:
import pandas as pd 
sheet_id = "1-T4oKa94_olMl8IeklLH-uqy0r4d2i7QObQ8FHZbW94"
sheet_name = "BurpeeData"

gsheet_url = "https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(sheet_id,sheet_name)
df_burpees = pd.read_csv(gsheet_url)
df_burpees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 135 non-null    object
 1   Time                 135 non-null    object
 2   Day                  135 non-null    int64
 3   Sets                 135 non-null    int64
 4   Reps Per Set         135 non-null    int64
 5   HR Avg               135 non-null    int64
 6   HR Max               135 non-null    int64
 7   Zone 1 Mins          135 non-null    object
 8   Zone 2 Mins          135 non-null    object
 9   Zone 3 Mins          135 non-null    object
 10  Zone 4 Mins          135 non-null    object
 11  Zone 5 Mins          135 non-null    object
 12  Weight               94 non-null     float64
 13  Fat Mass             94 non-null     float64
 14  Muscle Mass          94 non-null     float64
 15  Bone Mass            94 non-null     float64
 16  Body Water           94 non-null     float64
 17  Z1 Mins              135 non-null    float64
 18  Z2 Mins              135 non-null    float64
 19  Z3 Mins              135 non-null    float64
 20  Z4 Mins              135 non-null    float64
 21  Z5 Mins              135 non-null    float64
 22  Total Zone Time      135 non-null    float64
 23  BurpeeDTM            135 non-null    object
 24  Total Reps           135 non-null    int64
 25  Workout Description  135 non-null    object
dtypes: float64(11), int64(6), object(9)
memory usage: 27.5+ KB

In [11]:
df_burpees.BurpeeDTM = pd.to_datetime(df_burpees.BurpeeDTM)

In [12]:
df_burpees.set_index(df_burpees.BurpeeDTM, inplace=True)

In [14]:
fig = px.bar(df_burpees, x='BurpeeDTM', y=["Z1 Mins","Z2 Mins","Z3 Mins","Z4 Mins","Z5 Mins"],
             title='Heart Rate Zone Time for Burpee Project',
             color_discrete_map={'Z1 Mins':'gray','Z2 Mins':'blue',
                                 'Z3 Mins':'green','Z4 Mins':'orange','Z5 Mins':'red'})
app = JupyterDash(__name__)
app.layout = html.Div([dcc.Graph(figure=fig)])
app.run_server(mode='inline')

In [15]:
# https://docs.google.com/spreadsheets/d/1Dt2_0qi_qQnU_L4xvoHr_KUf-eTncjFnNwTDeVyieGg/edit?usp=sharing
sheet_id = "1Dt2_0qi_qQnU_L4xvoHr_KUf-eTncjFnNwTDeVyieGg"
sheet_name = "Sheet1"

running_url = "https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(sheet_id,sheet_name)
df_running = pd.read_csv(running_url)

In [16]:
df_running.head()

,Datetime,Miles,Speed Avg,Speed Best,Heart Rate Avg,Heart Rate Max,Elevation Gain,Run Location,Long,Shoe,Dominant Zone,Run Description,Total Zone Mins,Zone 1,Zone 2,Zone 3,Zone 4,Zone 5
0,12/9/2019 7:32:00,2.45,6.9,8.4,151,165,0,Treadmill,Short,Boston Adizero,4,Intense Aerobic,21.30,0.00,0.50,3.85,16.95,0.00
1,12/10/2019 6:46:00,3.96,7.1,9.5,163,182,0,Treadmill,Medium,Boston Adizero,5,Anaerobic,33.60,0.68,0.40,2.85,13.38,16.28
2,12/13/2019 6:10:00,2.32,6.5,9.9,137,166,0,Treadmill,Short,Boston Adizero,3,Moderate Aerobic,20.47,0.58,2.57,11.43,5.88,0.00
3,12/14/2019 6:54:00,5.66,6.1,8.4,153,178,0,Treadmill,Medium,Boston Adizero,4,Intense Aerobic,55.97,0.50,1.45,9.73,41.08,3.20
4,12/15/2019 8:27:00,1.88,5.9,11.1,141,173,0,Treadmill,Short,Boston Adizero,3,Moderate Aerobic,19.07,0.37,3.02,11.25,3.98,0.45

In [18]:
df_running.Datetime = pd.to_datetime(df_running.Datetime)

In [19]:
df_running.set_index(df_running.Datetime, inplace=True)

In [20]:
df_running.head()

,Datetime,Miles,Speed Avg,Speed Best,Heart Rate Avg,Heart Rate Max,Elevation Gain,Run Location,Long,Shoe,Dominant Zone,Run Description,Total Zone Mins,Zone 1,Zone 2,Zone 3,Zone 4,Zone 5
Datetime,,,,,,,,,,,,,,,,,,
2019-12-09 07:32:00,2019-12-09 07:32:00,2.45,6.9,8.4,151,165,0,Treadmill,Short,Boston Adizero,4,Intense Aerobic,21.30,0.00,0.50,3.85,16.95,0.00
2019-12-10 06:46:00,2019-12-10 06:46:00,3.96,7.1,9.5,163,182,0,Treadmill,Medium,Boston Adizero,5,Anaerobic,33.60,0.68,0.40,2.85,13.38,16.28
2019-12-13 06:10:00,2019-12-13 06:10:00,2.32,6.5,9.9,137,166,0,Treadmill,Short,Boston Adizero,3,Moderate Aerobic,20.47,0.58,2.57,11.43,5.88,0.00
2019-12-14 06:54:00,2019-12-14 06:54:00,5.66,6.1,8.4,153,178,0,Treadmill,Medium,Boston Adizero,4,Intense Aerobic,55.97,0.50,1.45,9.73,41.08,3.20
2019-12-15 08:27:00,2019-12-15 08:27:00,1.88,5.9,11.1,141,173,0,Treadmill,Short,Boston Adizero,3,Moderate Aerobic,19.07,0.37,3.02,11.25,3.98,0.45

In [25]:
#pd.to_datetime(df_running.Datetime.astype(str), format='%Y-%m')
df_running['Year_Month'] = df_running.Datetime.dt.strftime('%Y-%m')

In [26]:
df_running.head()

,Datetime,Miles,Speed Avg,Speed Best,Heart Rate Avg,Heart Rate Max,Elevation Gain,Run Location,Long,Shoe,Dominant Zone,Run Description,Total Zone Mins,Zone 1,Zone 2,Zone 3,Zone 4,Zone 5,Year_Month
Datetime,,,,,,,,,,,,,,,,,,,
2019-12-09 07:32:00,2019-12-09 07:32:00,2.45,6.9,8.4,151,165,0,Treadmill,Short,Boston Adizero,4,Intense Aerobic,21.30,0.00,0.50,3.85,16.95,0.00,2019-12
2019-12-10 06:46:00,2019-12-10 06:46:00,3.96,7.1,9.5,163,182,0,Treadmill,Medium,Boston Adizero,5,Anaerobic,33.60,0.68,0.40,2.85,13.38,16.28,2019-12
2019-12-13 06:10:00,2019-12-13 06:10:00,2.32,6.5,9.9,137,166,0,Treadmill,Short,Boston Adizero,3,Moderate Aerobic,20.47,0.58,2.57,11.43,5.88,0.00,2019-12
2019-12-14 06:54:00,2019-12-14 06:54:00,5.66,6.1,8.4,153,178,0,Treadmill,Medium,Boston Adizero,4,Intense Aerobic,55.97,0.50,1.45,9.73,41.08,3.20,2019-12
2019-12-15 08:27:00,2019-12-15 08:27:00,1.88,5.9,11.1,141,173,0,Treadmill,Short,Boston Adizero,3,Moderate Aerobic,19.07,0.37,3.02,11.25,3.98,0.45,2019-12

In [30]:
df_running['ym_group'] = pd.to_datetime(df_running.Year_Month)
df_running['Run Description'].unique()

array(['Intense Aerobic', 'Anaerobic', 'Moderate Aerobic',
       'Ideal Aerobic', 'Easy Aerobic'], dtype=object)

In [31]:
"""
app = JupyterDash(__name__)
app.layout = html.Div([dcc.Graph(figure=fig)])
app.run_server(mode='inline')
"""

fig = px.scatter(df_running, x='ym_group', y='Speed Avg', color='Run Description', size='Miles',
                 color_discrete_map={'Easy Aerobic':'gray','Ideal Aerobic':'blue',
                                 'Moderate Aerobic':'green','Intense Aerobic':'orange','Anaerobic':'red'})

app = JupyterDash(__name__)
app.layout = html.Div([dcc.Graph(figure=fig)])
app.run_server(mode='inline')